{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
   <div class="registrationForm">
    {{ form_start(form) }}
        {{ form_row(form.Name, {
            label: 'Category name'
        }) }}
        <button type="submit" class="btn">Add category</button>
    {{ form_end(form) }}
    </div>
    <hr class="divider">
    <div class="tabla">
	<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
      {% for category in categories %}
        <td><a class="link {{loop.first ? 'active' : ''}}" href="#category{{category.id}}" data-toggle="tab">{{category.name}}</a></td>
      {% endfor %}
      	</tr>
    	</thead>
  	</table>
  	<hr>
	</div>

    </div>
{% endblock %}
